@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.rfm-marquee-container {
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: unset !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}
.mfp-bg {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 993;
  overflow: hidden;
  background: #0b0b0b;
  opacity: 0.8;
  position: fixed;
}
.mfp-content {
  position: fixed;
  margin: 0 auto;
  text-align: left;
  z-index: 1057;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.mfp-container {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 99999;
  height: unset !important;
}
